* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: #1b1b1b;
}

.header-bg {
  background-color: #1b1b1b;
  background-image: url(assets/images/head_morp.svg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.section-bg {
  background-color: #1b1b1b;
  background-image: url(assets/images/selected_work.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-font {
  font-family: var(--custom-family);
  line-height: 140%;
}
